@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>@ViewBag.Title <img src="~/Images/grocery.jpg" alt="grocery bag" width="150" height="200" /></h1>
    <h3>This MVC project is a simple Grocery-Shopping-List developed using:</h3>
<pre>
HTML
CSS
JavaScript
SVG graphics
Razor
Entity Framework
C#
JQuery
</pre>
    <p style="float:left"><a href="https://github.com/Deepti-Dk?tab=projects" class="btn btn-primary btn-sm">Checkout my GitHub page for more projects &raquo;</a></p>
</div>