@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>@ViewBag.Title <img src="~/Images/grocery.jpg" alt="grocery bag" width="250" height="300" /></h1>
    <br />
    <address>
        <strong>Please contact me at:</strong> <a href="mailt@gmail.com">deepti.sharma@gmail.com</a>
    </address>
</div>